pandas
numpy
pyspark
findspark
flask
flask_cors
scikit-learn
joblib
matplotlib
seaborn
streamlit
jupyter
ipykernel
s3fs
boto3
requests
psycopg2
flask-sqlalchemy
psycopg2-binary
kafka-python
pycountry
gunicorn
